<div role="main" class="main">
    <div class="slider-container rev_slider_wrapper">
        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider
             data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on'}">
            <ul>
                <li data-transition="fade">
                    <img src="img/slides/slide-bg.jpg"
                         alt="Black Background"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg">

                    <div class="tp-caption"
                         data-x="177"
                         data-y="188"
                         data-start="1000"
                         data-transform_in="x:[-300%];opacity:0;s:500;"><img src="img/slides/slide-title-border.png"
                                                                             alt="Border image development"></div>

                    <div class="tp-caption top-label"
                         data-x="227"
                         data-y="180"
                         data-start="500"
                         data-transform_in="y:[-300%];opacity:0;s:500;">DO YOU NEED A NEW
                    </div>

                    <div class="tp-caption"
                         data-x="480"
                         data-y="188"
                         data-start="1000"
                         data-transform_in="x:[300%];opacity:0;s:500;"><img src="img/slides/slide-title-border.png"
                                                                            alt="Border image development"></div>

                    <div class="tp-caption main-label"
                         data-x="155"
                         data-y="210"
                         data-start="1500"
                         data-whitespace="nowrap"
                         data-transform_in="y:[100%];s:500;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;">SUPER IDEA?
                    </div>

                    <div class="tp-caption bottom-label"
                         data-x="185"
                         data-y="280"
                         data-start="2000"
                         data-transform_in="y:[100%];opacity:0;s:500;">We are specialist in get demands and
                    </div>
                    <div class="tp-caption bottom-label"
                         data-x="185"
                         data-y="300"
                         data-start="2100"
                         data-transform_in="y:[100%];opacity:0;s:500;">transform it in amazing solutions.
                    </div>

                    <div class="tp-caption"
                         data-x="910"
                         data-y="248"
                         data-start="2500"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;"><img
                            src="img/slides/slide-concept-2-1.png" alt=""></div>

                    <div class="tp-caption"
                         data-x="960"
                         data-y="200"
                         data-start="3500"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="img/slides/slide-concept-2-2.png"
                                                                            alt="Image of an drawed Box"></div>

                    <div class="tp-caption"
                         data-x="930"
                         data-y="170"
                         data-start="3650"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="img/slides/slide-concept-2-3.png"
                                                                            alt="Image of a rope"></div>

                    <div class="tp-caption"
                         data-x="880"
                         data-y="130"
                         data-start="3750"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="img/slides/slide-concept-2-4.png"
                                                                            alt="Image of a circle"></div>

                    <div class="tp-caption"
                         data-x="610"
                         data-y="80"
                         data-start="3950"
                         data-transform_in="y:[300%];opacity:0;s:300;"><img src="img/slides/slide-concept-2-5.png"
                                                                            alt="Image that represent one idea"></div>

                    <div class="tp-caption blackboard-text"
                         data-x="640"
                         data-y="300"
                         data-start="3950"
                         style="font-size: 37px;"
                         data-transform_in="y:[300%];opacity:0;s:300;">Think
                    </div>

                    <div class="tp-caption blackboard-text"
                         data-x="665"
                         data-y="350"
                         data-start="4150"
                         style="font-size: 47px;"
                         data-transform_in="y:[300%];opacity:0;s:300;">Outside
                    </div>

                    <div class="tp-caption blackboard-text"
                         data-x="690"
                         data-y="400"
                         data-start="4350"
                         style="font-size: 32px;"
                         data-transform_in="y:[300%];opacity:0;s:300;">The box :)
                    </div>
                </li>
                <li data-transition="fade">
                    <img src="img/slides/slide-bg.jpg"
                         alt="Brackground Image"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         class="rev-slidebg" data-no-retina>

                    <div class="tp-caption top-label"
                         data-x="155"
                         data-y="100"
                         data-start="500"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">
                        <img src="img/slides/slide-concept.png" alt="Image of a Cloud"></div>

                    <div class="tp-caption blackboard-text"
                         data-x="285"
                         data-y="180"
                         data-start="1000"
                         style="font-size: 30px;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">
                        Let me know
                    </div>

                    <div class="tp-caption blackboard-text"
                         data-x="285"
                         data-y="220"
                         data-start="1200"
                         style="font-size: 40px;"
                         data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">
                        your thoughts
                    </div>

                    <div class="tp-caption main-label"
                         data-x="685"
                         data-y="190"
                         data-start="1800"
                         data-whitespace="nowrap"
                         data-transform_in="y:[100%];s:500;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;">Talk to us!
                    </div>

                    <div class="tp-caption bottom-label"
                         data-x="685"
                         data-y="250"
                         data-start="2000"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05">Give the first step to change your company destiny
                    </div>
                    <div class="tp-caption bottom-label"
                         data-x="685"
                         data-y="270"
                         data-start="2000"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
                         data-transform_out="opacity:0;s:500;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-splitin="chars"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-elementdelay="0.05">Talk to us, we have the best solutions for you
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <div class="home-intro" id="home-intro">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <p>
                        The fastest way to grow your business with the leader in <em>Technology</em>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="get-started">
                        <a href="contact" class="btn btn-lg btn-primary">Get Started Now!</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <div class="row center">
            <div class="col-md-12">
                <h1 class="mb-sm word-rotator-title">
                    Inndico is
                    <strong class="inverted">
									<span class="word-rotate" data-plugin-options="{'delay': 2000, 'animDelay': 300}">
										<span class="word-rotate-items">
											<span>innovative</span>
											<span>digital</span>
											<span>personalized</span>
										</span>
									</span>
                    </strong>
                </h1>
                <p class="lead">
                    At Inndico anything is possible, we build websites, mobile apps, apis and anything you need.<br>
                    With our group of experienced developers your dreams can come through.
                </p>
            </div>
        </div>

    </div>

    <div class="home-concept appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
        <svg class="home-concept-bg" x="0px" y="0px" width="345px" height="93px" viewBox="0 0 345 83" enable-background="new 0 0 345 93" xml:space="preserve">
						<image overflow="visible" width="26" height="39" xlink:href="img/home-concept-pin.png" transform="matrix(0.169 0.1308 -0.1308 0.169 339.8496 0.6826)" class="final-pin appear-animation" data-appear-animation="animated-pin" data-appear-animation-delay="3650">
						</image>
						<path class="line appear-animation" fill="none" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-duration="4s" d="M7.086,87.455c8.133-8.646,54.247-51.634,155.173-36.766C268.762,66.38,327.34,17.642,337.992,10.241"/>
						<path fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" d="M7.086,87.455c8.133-8.646,54.247-51.634,155.173-36.766C268.762,66.38,327.34,17.642,337.992,10.241"/>
						<image overflow="visible" width="26" height="39" xlink:href="img/home-concept-pin.png" transform="matrix(0.2137 0 0 0.2137 1 81.5898)" class="initial-pin appear-animation" data-appear-animation="animated-pin">
						</image>
					</svg>
        <div class="container">

            <div class="row center">
                <span class="sun"></span>
                <span class="cloud"></span>
                <div class="col-md-2 col-md-offset-1">
                    <div class="process-image">
                        <div class="box-image">
                            <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="800" cx="19.5" cy="19.5" r="19.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
										</svg>
                            <img alt="Image of a development team having a strategic meeting" src="img/home-concept-item-1.png" alt="" class="appear-animation"
                                 data-appear-animation="zoomIn" data-appear-animation-duration="300"
                                 data-appear-animation-delay="1400"/>
                        </div>
                        <strong class="appear-animation" data-appear-animation="fadeInDown"
                                data-appear-animation-delay="1150" data-plugin-options="{'accY': 200}">Demands</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image">
                        <div class="box-image">
                            <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="1200" cx="19.5" cy="19.5" r="19.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
										</svg>
                            <img alt="Image of a development team drawing a plan" src="img/home-concept-item-2.png" alt="" class="appear-animation"
                                 data-appear-animation="zoomIn" data-appear-animation-duration="300"
                                 data-appear-animation-delay="1900"/>
                        </div>
                        <strong class="appear-animation" data-appear-animation="fadeInDown"
                                data-appear-animation-delay="2150" data-plugin-options="{'accY': 200}">Planning</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image">
                        <div class="box-image">
                            <svg class="small-circle" x="0px" y="0px" width="39px" height="39px" viewBox="0 0 39 39" enable-background="new 0 0 39 39" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="1700" cx="19.5" cy="19.5" r="19.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="19.5" cy="19.5" r="19.063"/>
										</svg>
                            <img alt="Image of PHP code some one developing" src="img/home-concept-item-3.png" alt="" class="appear-animation"
                                 data-appear-animation="zoomIn" data-appear-animation-duration="300"
                                 data-appear-animation-delay="2400"/>
                        </div>
                        <strong class="appear-animation" data-appear-animation="fadeInDown"
                                data-appear-animation-delay="2650" data-plugin-options="{'accY': 200}">Build</strong>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="project-image">
                        <div class="box-image">
                            <svg class="big-circle" x="0px" y="0px" width="85px" height="85px" viewBox="0 0 85 85" enable-background="new 0 0 85 85" xml:space="preserve">
											<circle class="line appear-animation" fill="#FFF" stroke="#6f6f6f" stroke-width="0.25" stroke-miterlimit="0" stroke-dasharray="0" data-appear-animation="animated-line" data-appear-animation-delay="2250" cx="42.5" cy="42.5" r="42.063"/>
											<circle fill="none" stroke="#FFF" stroke-width="0.50" stroke-miterlimit="10" stroke-dasharray="1,2.5" cx="42.5" cy="42.5" r="42.063"/>
										</svg>
                            <div id="fcSlideshow" class="fc-slideshow appear-animation" data-appear-animation="zoomIn"
                                 data-appear-animation-duration="300" data-appear-animation-delay="2900">
                                <ul class="fc-slides">
                                    <li><img alt="Example of an project that we can create" class="img-responsive"
                                                                                          src="img/projects/project-home-1.jpg"
                                                                                          alt=""/></li>
                                    <li><img alt="Another example of a project that we can create" class="img-responsive"
                                                                                          src="img/projects/project-home-2.jpg"
                                                                                          alt=""/></li>
                                    <li><img alt="One more example of a project that we can create" class="img-responsive"
                                                                                          src="img/projects/project-home-3.jpg"
                                                                                          alt=""/></li>
                                </ul>
                            </div>
                        </div>
                        <strong class="our-work appear-animation" data-appear-animation="fadeInDown"
                                data-appear-animation-delay="3150" data-plugin-options="{'accY': 300}">Our Work</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

        <div class="row">
            <hr class="tall">
        </div>

    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h2>What <strong>we do</strong></h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-box">

                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Portal Creation</h4>
                                <p class="tall">We create portals using a wide range of technologies.</p>
                            </div>
                        </div>
                        <div class="feature-box">

                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">App Development</h4>
                                <p class="tall">We are specialist in Hybrid Apps.</p>
                            </div>
                        </div>
                        <div class="feature-box">

                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Website Development</h4>
                                <p class="tall">We build websites using many different content managers and we even build it from scratch.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-box">

                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">API Development</h4>
                                <p class="tall">We build APIs to let your customers easily integrate with you.</p>
                            </div>
                        </div>
                        <div class="feature-box">

                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">Integrations</h4>
                                <p class="tall">Do you need your third-party platform integrated? Let us do that.</p>
                            </div>
                        </div>
                        <div class="feature-box">

                            <div class="feature-box-info">
                                <h4 class="heading-primary mb-none">SEO Optimization</h4>
                                <p class="tall">We can optimize your website to give more organic and advertised traffic to your website.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>and more...</h2>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne">
                                    <i class="fa fa-group"></i>
                                    Maintenance
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="panel-body">
                                We negotiate maintenance contracts so we will always be there for you.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree">
                                    <i class="fa fa-laptop"></i>
                                    Engagement Consultancy
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="panel-body">
                                We can look at your platforms and let you know what is the best way to engage your clients.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="tall">

        <div class="row center">
            <div class="col-md-12">
                <h2 class="mb-sm word-rotator-title">
                    You're not the only ones
                    <strong>
									<span class="word-rotate" data-plugin-options="{'delay': 3500, 'animDelay': 400}">
										<span class="word-rotate-items">
											<span>excited</span>
											<span>happy</span>
										</span>
									</span>
                    </strong>
                    about Inndico...
                </h2>
                <h4 class="heading-primary lead tall"> Get in touch to see results of our previous work.</h4>
            </div>
        </div>

    </div>

</div>

</div>